@if (accountService.currentUser()) {
<h2>Welcome back, {{accountService.currentUser()?.username | titlecase}}!</h2>
<div class="card mt-4">
    <div class="card-body">
        <p class="card-title">Current balance: <span class="text-success">{{balanceData.balance}}</span></p>
        <p class="card-title">Current balance - including cost plans: <span
                class="text-info">{{balanceData.balanceIncludedCostPlans}}</span></p>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Income Category Shares</h5>
        <ul>
            @for (share of balanceData.incomeCategoryShares; track share.categoryName) {
            <li>{{share.categoryName}}: {{share.percentage}}%</li>
            }
        </ul>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Expense Category Shares</h5>
        <ul>
            @for (share of balanceData.costCategoryShares; track share.categoryName) {
            <li>{{share.categoryName}}: {{share.percentage}}%</li>
            }
        </ul>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Monthly Costs</h5>
        <ul>
            @for (cost of balanceData.monthlyCosts; track cost.month) {
            <li>{{cost.month}}. {{cost.year}}: {{cost.totalCost}}</li>
            }
        </ul>
    </div>
</div>
} @else {
@if (!registerMode) {
<div class="container mt-5">
    <div style="text-align: center;">
        <h1>Track your costs</h1>
        <p class="lead">Track your costs, incomes and your planned costs as well!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
        </div>
    </div>
</div>
} @else {
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)">
            </app-register>
        </div>
    </div>

</div>
}
}